@import "tailwindcss";

@font-face{
 font-family: 'LotteMartDream';
 font-style: normal;
 font-weight: 400;
 src: 
  url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'),
  url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}

@theme {
  --font-sans: 'LotteMartDream'
}

html,
body {
  @apply flex flex-col justify-center;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.bg-rosegray {
  @apply bg-[#E9A5A5];
  @apply opacity-80
}
.bg-neutral {
  @apply bg-neutral-100;
}
.bg-neutral-light {
  @apply bg-neutral-50;
}
.text-rosegray {
  @apply text-[#E9A5A5];
}
.text-mini-gray {
  @apply text-sm lg:text-base;
  @apply text-gray-500;
}
.text-title {
  @apply text-2xl md:text-3xl lg:text-4xl;
}
.text-default {
  @apply text-base md:text-lg lg:text-xl;
}
.text-mini {
  @apply text-sm lg:text-base;
}