@import "tailwindcss";

@font-face {
  font-family: 'GowunBatang-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-sans: 'GowunBatang-Regular'
}

@keyframes fall {
  0% {
    transform: translateY(-100px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

html,
body {
  @apply flex flex-col justify-center;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.flower {
  position: fixed;
  top: -100px;
  width: 15px;
  height: 15px;
  background-image: url('./mini_flower.png');
  background-size: cover;
  animation: fall linear infinite;
  z-index: 1000;
}
.collapse-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
}

.collapse-content.open {
  max-height: 1000px;
}

.bg-rosegray {
  @apply bg-[#E9A5A5];
  @apply opacity-80
}
.bg-neutral {
  @apply bg-neutral-100;
}
.bg-neutral-light {
  @apply bg-neutral-50;
}
.text-rosegray {
  @apply text-[#E9A5A5];
}
.text-mini-gray {
  @apply text-sm lg:text-base;
  @apply text-gray-500;
}
.text-title {
  @apply text-2xl md:text-3xl lg:text-4xl;
}
.text-default {
  @apply text-base md:text-lg lg:text-xl;
}
.text-mini {
  @apply text-sm lg:text-base;
}