@import "tailwindcss";

@font-face {
  font-family: 'GowunBatang-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-sans: 'GowunBatang-Regular'
}

html,
body {
  @apply flex flex-col items-center justify-center bg-white text-black;
}

.collapse-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
}

.collapse-content.open {
  max-height: 1000px;
}

.w-full-or-max {
  @apply w-full;
  @apply max-w-lg;
  @apply h-auto;
}
.bg-rosegray {
  @apply bg-[#E9A5A5];
  @apply opacity-80
}
.bg-neutral {
  @apply bg-neutral-100;
}
.bg-neutral-light {
  @apply bg-neutral-50;
}
.bg-blurred-black {
  @apply bg-black;
  @apply opacity-80;
}
.text-rosegray {
  @apply text-[#E9A5A5];
}
.text-mini-gray {
  @apply text-sm lg:text-base;
  @apply text-gray-500;
}
.text-default {
  @apply text-base md:text-lg lg:text-xl;
}
.text-mini {
  @apply text-sm lg:text-base;
}

.text-tiny-gray {
  @apply text-[12px] lg:text-sm;
  @apply text-gray-500;
}
